html{
	overflow-x: hidden;
}

body{	
	font-family: 'Source Sans Pro', sans-serif;
}

h4{
	text-transform: uppercase;
	color: #317eac;
	font-family: 'Source Sans Pro', sans-serif;
}

.container{
	margin-top: 5vh;
}

#home-buttons-container{
	margin-top: 20%;
}

a{
	text-decoration: none !important;
}

.btn{
	border: solid 1px #333;
	color: #333;
	font-weight: 600;
	text-transform: uppercase;
	background-color: white;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	transition: all .25s;
}

.btn:hover{
	color: white;
	background-color: #317eac;
	border: solid 1px #317eac;
}

#pretest video{
	margin-left: 28%;
	margin-top: 20px;
}


.likert-scale{
	margin-top: 20px;
	margin-bottom: 20px;
}


.likert-scale-option{
	width: 5%;
	display: inline-block;
}

.likert-scale-option .outer{
	width: 16px;
	height: 16px;
	padding-left: 3px;
	padding-top: 3px;
	margin-left: -3px;
	margin-top: 3px;
	background-color: white;
	border: solid 1px #333;
	border-radius: 100px;
}

.likert-scale-option .inner{
	width: 8px;
	height: 8px;
	background-color: white;
	border-radius: 100px;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	transition: all .25s;
}

.likert-scale-option .outer:hover{
	cursor: pointer;
}

.likert-scale-option .outer.active .inner, .likert-scale-option .outer:hover .inner{
	background-color: #317eac;
}


.likert-scale-label{
	width: 10%;
	display: inline-block;
}

.video-count{
	position: fixed;
	bottom: 50px;
	right: 150px;
}

#thanks{
	text-align: center;
	margin-top: 60px;
}

#thanks h1,h5{
	color: black;
}

#purchase-buttons-container button{
	margin-top: 60px;
}

#sellerRating i{
	font-size: 40px;
}


.seller-rating-description {
	margin-top: 50px;
}

.seller-rating-description i{
	font-size: 15px !important;
}

.star-description .five-star-rating{
	display: inline;
}

#maintest{
	padding-top: 50px;
}

video{
	background-color: black;
}

h4{
	font-size: 16px;
	font-weight: 700;
}

.likert-scale-question{
	margin-bottom: 20px;
	color: #333;
	font-weight: 600;
}



.intro{
	width: 50%;
	margin-top: 10vh;
	margin-left: 25%;
}

.intro .slick-panel{
	height: 80vh;
	border: solid 1px #F0F0F0;
	padding: 5%;
}


.intro .slick-panel h5{
	font-size: 20px;
	color: #333;
	font-weight: 500;
	font-family: 'Source Sans Pro', sans-serif;
}

.slick-arrow::before{
	color: #317eac !important;
}

.intro .slick-panel.centered{
	display: flex;
	align-items: center;
}

.intro .slick-panel.centered h5{
	margin: 40px 0;
}


.intro .slick-panel i{
	font-size: 10px;
	color: #317eac;
}



.intro .slick-panel .list{
	padding-left: 20px;
}
.intro .slick-panel .list h5{
	font-size: 16px;
	margin: 10px 0px;
}

.intro .slick-panel .list h5 i{
	font-size: 8px;
}

.intro .slick-panel .img-wrapper{
	text-align: center;
}

.intro .slick-panel img{
	display: inline-block;
}

.intro .matrix-slide{
	padding-top: 0px; 
	padding-bottom: 0px; 
}
.intro .matrix-slide h5{
	margin: 20px 0 !important;
}
.intro .matrix-slide .img-wrapper img{
	width: 70%;
}